---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ImageGallery from "../components/ImageGallery";
---

<Layout title="Welcome to Astro.">
	<main>
		<ImageGallery client:visible />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	.image-modal {
  /* other styles... */
  position: relative;
}

.image-modal .close-button {
  /* other styles... */
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 640px) {
  .image-modal .close-button {
    top: 10px;
    right: 10px;
  }
}
</style>
