---
import PanIcon from "./icons/PanIcon.astro";
import CrossIcon from "./icons/CrossIcon.astro";
import classes from "../utils/classes";
import Rotate3DIcon from "./icons/Rotate3dIcon.astro";
import ZoomIcon from "./icons/ZoomIcon.astro";
import ClickIcon from "./icons/ClickIcon.astro";
---

<div
  id="navigation-legend"
  class={classes(
    "collapsed",
    "fixed bottom-2 left-2 bg-background shadow border border-border",
    "rounded-3xl overflow-hidden z-10 flex-col-reverse sm:flex-row"
  )}
>
  <div class="relative flex gap-4 flex-wrap sm:flex-nowrap shrink-0">
    <button
      id="navigation-lengend-toggle"
      class={classes(
        "rounded-full bg-background shadow ring-1 ring-border",
        "hover-hover:hover:bg-brandPink hover-hover:hover:text-white",
        "transition-colors cursor-pointer min-w-12 h-12 flex items-center justify-center",
        "shrink-0 flex px-3"
      )}
    >
      <span class="sr-only">Toggle navigation legend</span>
      <CrossIcon class="cross-icon" />
      <PanIcon class="pan-icon" />
      <span class="text whitespace-nowrap text-inherit">
        <span class="mx-2 hidden xs:block"> Wie navigiere ich?</span>
        <span class="mx-2 xs:hidden">Navigation</span>
      </span>
    </button>
    <ul class="flex sm:gap-4 flex-wrap sm:flex-nowrap">
      <li
        class={classes(
          "w-full sm:w-auto pl-4 sm:pl-0",
          "text-discrete flex gap-3 flex-nowrap whitespace-nowrap",
          "py-3 pr-4 border-b sm:border-b-0 sm:border-r border-border"
        )}
      >
        <Rotate3DIcon class="opacity-80" />
        <span>3D Rotation: Linksklick & drag</span>
      </li>
      <li
        class={classes(
          "w-full sm:w-auto pl-4 sm:pl-0",
          "text-discrete flex gap-3 flex-nowrap whitespace-nowrap",
          "py-3 pr-4 border-b sm:border-b-0 sm:border-r border-border"
        )}
      >
        <PanIcon class="opacity-80" />
        <span>Pan: Rechtsklick & drag</span>
      </li>
      <li
        class={classes(
          "w-full sm:w-auto pl-4 sm:pl-0",
          "text-discrete flex gap-3 flex-nowrap whitespace-nowrap",
          "py-3 pr-4 border-b sm:border-b-0 sm:border-r border-border"
        )}
      >
        <ZoomIcon class="opacity-80" />
        <span>Zoom: Mousewheel</span>
      </li>
      <li
        class={classes(
          "w-full sm:w-auto pl-4 sm:pl-0",
          "text-discrete flex gap-3 flex-nowrap whitespace-nowrap",
          "py-3 pr-4"
        )}
      >
        <ClickIcon class="opacity-80" />
        <span>Portrait Info: Linksklick</span>
      </li>
    </ul>
  </div>
</div>

<style is:global>
  #navigation-legend.collapsed {
    max-width: 179px;
    max-height: 48px;

    @apply max-w-[133px] xs:max-w-[179px];
  }
  #navigation-legend,
  #navigation-legend .text {
    will-change: width;
    @apply transition-all overflow-hidden duration-700 ease-out-extreme;
  }

  #navigation-legend.expanded #navigation-lengend-toggle {
    @apply absolute top-0 right-0 sm:static;
  }

  #navigation-legend {
    @apply duration-300;
  }
  #navigation-legend.expanded {
    max-width: calc(100vw - 1rem);
    max-height: calc(100vh - 1rem);
  }
  #navigation-legend.expanded .pan-icon,
  #navigation-legend.collapsed .cross-icon {
    display: none;
  }
  #navigation-legend.collapsed .pan-icon,
  #navigation-legend.expanded .cross-icon {
    display: block;
  }

  #navigation-legend .text {
    max-width: 0;
  }

  #navigation-legend.collapsed .text {
    max-width: 200px;
  }
</style>

<script>
  const toggle = document.getElementById("navigation-lengend-toggle");
  const legend = document.getElementById("navigation-legend");

  toggle?.addEventListener("click", () => {
    legend?.classList.toggle("collapsed");
    legend?.classList.toggle("expanded");
  });
</script>
